body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  #chat-container {
    /*margin: 20px auto;*/
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }

  #chat-messages {
    padding-left: 5px;
    height: 460px;
    overflow-y: scroll;
  }

  #user-input {
    
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  #suggestions-container {
    /*width: 150px;*/
    float: right;
    padding: 10px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    background-color: #fff;
    /*height: 300px;*/
    overflow-y: scroll;
  }
  .suggestion {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #ddd;
    border-radius: 3px;
  }
  .btn-salir-verde{
      background-color: rgb(73, 160, 106);
      color: #123b11;
  }
  .Titulo-pagina-verde{
      color: #286630;
      font-size: 15px;
  }
  .Titulo-verde{
      color: #286630;
      font-size: 30px;
  }
  .no-padding-row > * {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
  }
  .btn-custom {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    padding-right: 0px;
    padding-left: 0px;
    width: 92% !important;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-custom:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.btn-custom a {
    text-decoration: none;
    color: inherit;
}
.btn-custom:hover {
  background-color: rgb(176, 243, 203);
}